@{
    ViewData["Title"] = "Home";
    @model WhitelistViewModel
    @using SFA.DAS.SelfService.Web.Configuration
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            DAS Whitelist
        </h1>
        <p class="govuk-body">To Whitelist your IP Address on DAS DEV &amp; PP Servers enter your details below.</p>


        <form asp-route="@WhitelistRouteNames.CreateRelease" method="post">
            <div class="govuk-form-group">
                <label asp-for="Name" class="govuk-label control-label">
                    Full Name
                </label>
                <span asp-validation-for="Name" class="ext-danger">
                </span>
                <input asp-for="Name" class="govuk-input" required />
            </div>
            <div class="govuk-form-group">
                <label asp-for="IpAddress" class="govuk-label">
                    IP Address
                </label>
                <input asp-for="IpAddress" id="ipAddress" class="govuk-input" required />
            </div>
            <div class="govuk-form-group">
                <button class="govuk-button" data-module="govuk-button">
                    Run
                </button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        fetch('https://jsonip.com', { mode: 'cors' })
          .then((resp) => resp.json())
            .then((ip) => {
                document.getElementById("ipAddress").value = ip.ip;
          });
    };
</script>