@{
    ViewData["Title"] = "WhitelistPartial";
    @model WhitelistReleaseViewModel
}

<p class="govuk-body govuk-!-font-weight-bold">Status: @Model.deploymentStatus.GetDescription()</p>

<p class="govuk-body">Last updated: @DateTime.Now.ToString("HH:mm:ss")</p>