@{
    ViewData["Title"] = "WhitelistReleaseCreated";
    @model WhitelistReleaseViewModel
    @using SFA.DAS.SelfService.Web.Configuration
}

<h1></h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Whitelist Started</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">(Status will refresh every 3 seconds below)</h2>
    </div>
    <div class="govuk-grid-column-two-thirds" id="myPartialView">
        <partial name="ReleaseCreatedPartial" model="Model" />
    </div>
</div>

<script type="text/javascript">

    function refreshStatus() {

        $("#myPartialView").load('@Url.Action(WhitelistRouteNames.ReleaseRefresh)');
        return $("#myPartialView").text()
    }

    var timer = setInterval(function () {
        var htmlResponse = refreshStatus();
        console.log(htmlResponse)
        if (htmlResponse.trim().includes("Status: Succeeded")) {
            clearInterval(timer);
        }
    }, 3000);
</script>