@{
    ViewData["Title"] = "WhitelistPartial";
    @model WhitelistReleaseViewModel
}

<p class="govuk-body">Status: @Model.deploymentStatus</p>

<p class="govuk-body">Last updated: @DateTime.Now.ToString("HH:mm:ss")</p>
