@{
    ViewData["Title"] = "Home";
    @model IndexViewModel
    @using SFA.DAS.ReleaseTool.Web.Controllers.Whitelist
    @using SFA.DAS.ReleaseTool.Web.Extensions
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            DAS Whitelist
        </h1>
    </div>
</div>
